<app-navbar></app-navbar>
<!-- <app-calculator></app-calculator> -->
<!-- <h1 class="text-danger border border-3 mt-5 mx-4">App Component</h1>
<h2 class="text-warning-emphasis">{{title}}</h2> -->
<!-- 
<p *ngFor="let c of colors; let i = index; 
            let f=first; let l=last; let ev=even; let od=odd">
    {{i}} - {{c}} - {{f}} - {{l}} - {{ev}} - {{od}}
</p>

<p *ngIf="age < 18; then minor else major">
    
</p>

<ng-template #minor><i>Minor</i></ng-template>
<ng-template #major><i>Major</i></ng-template> -->


<router-outlet></router-outlet>