<div class="container">
    <div class="row my-4">
        <label for="search" class="form-label">Search: </label>
        <input type="text" class="form-control" 
        id="search" placeholder="Type for search..."
        [(ngModel)]="filterBy"/>
        {{filterBy}}
    </div>
    <div class="row my-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="showImage" 
                [(ngModel)]="showImage">
            <label class="form-check-label" for="showImage">Show Image</label>
            <!-- <span style="color: red"> {{showImage}}</span> -->
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div class="row row-cols-3">        
        <div *ngFor="let p of filteredProducts | slice : 0 : 6">
            <div class="card mb-4" style="width: 21rem;" >
                <div *ngIf="showImage">
                    <img [src]="p.image" class="card-img-top" 
                    [alt]="altText" [ngStyle]="imgStyle">
                </div>
                <div class="card-body">
                    <h5 class="card-title" [routerLink]="['/products',p.id]" 
                                           [style.cursor]="'pointer'"
                    [ngStyle]="nameStyle">{{p.name | uppercase}}</h5>
                    <p [ngStyle] = "priceStyle">{{p.price | currency:'INR':'symbol':'1.2-3'}}</p>
                    <p appHighlight>{{p.discount | percent}} OFF</p>
                    <p>Discounted Price: {{p.price | discountedPrice : p.discount | currency:'INR':'symbol' }}</p>
                    <p class="card-text" [ngStyle] = "{'color':'red'}"><i>{{p.category}}</i></p>
                    <p appHighlight>{{p.publishedDate | date : 'dd-MMMM, yyyy hh:mm:ss a'}}</p>
                    <p>{{p.code | replaceCharacter : '='}}</p>
                    <p [ngClass]="customClass" class="card-text">{{p.description | slice : 0 : 50 | uppercase}}</p>
                    <a class="btn btn-primary" [title]="titleText" 
                    (click)="addToCart($event,p)">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>